<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <context-param>
        <param-name>version.template</param-name>
        <param-value>1.1.0</param-value>
    </context-param>
    <listener>
        <listener-class>br.com.lowcodesystem.ctrl.Render</listener-class>
    </listener>
    <servlet>
        <servlet-name>builder</servlet-name>
        <servlet-class>br.com.lowcodesystem.ctrl.Builder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>render</servlet-name>
        <servlet-class>br.com.lowcodesystem.ctrl.Render</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>process</servlet-name>
        <servlet-class>br.com.lowcodesystem.ctrl.Process</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>builder</servlet-name>
        <url-pattern>/builder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>render</servlet-name>
        <url-pattern>/render</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>process</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
</web-app>
